
{{ define "_invoice_col1" }}
{{ $row := index . "row" }}
{{ $p := index . "params" }}
{{ $clientMap := index $p "client_map" }}
{{ $clientId := index $row "client_id" }}
{{ $client := index $clientMap $clientId }}
{{ index $client "name" }}
{{ end }}

{{ define "_invoice_col2" }}
{{ $row := index . "row" }}
{{ $guid := index $row "guid" }}
{{ index $row "number" }}
<br/>
<a class="underline no-ajax text-blue-600" href="/sd/invoices/{{$guid}}?pdf=true">
  pdf
</a>
{{ end }}

{{ define "_invoice_col3" }}
{{ $row := index . "row" }}
{{ $guid := index $row "guid" }}
<a class="underline" href="/sd/invoices/{{$guid}}">
        click to view/edit
</a>
{{ end }}

{{ define "_invoice_col4" }}
{{ $row := index . "row" }}
{{ $total := index $row "total" }}
{{ price $total }}
{{ end }}

{{ define "_invoice_col5" }}
{{ $row := index . "row" }}
{{ index $row "created_at_human" }}
<br/>
{{ index $row "created_at_ago" }}
{{ end }}
