<html>
<head>
  <meta charset="UTF-8">
  <meta property="og:image" content="https://i.imgur.com/zKf4kBT.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/assets/css/tail.min.css?id={{ index . "build"}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://fonts.bunny.net" rel="preconnect"/>
  <link href="https://fonts.bunny.net/css?family=poppins:400,500,700,800" rel="stylesheet"/>
  <link href="https://fonts.bunny.net/css?family=montserrat:400,500,700,800" rel="stylesheet"/>
  <script> function $(id) { return document.getElementById(id); } </script>
  <script src="/assets/javascript/main.js?id={{ index . "build"}}"></script>
  <title>{{ index . "title"}}</title>
</head>

<body class="antialiased w-screen bg-white font-poppins">
  <div class="flex w-full">
    <div class="bg-gray-300 w-20" id="left">
      hi
    </div>
    <div class="w-full">
      {{ template "_top" . }}
    </div>
  </div>
  <div class="h-full w-20 bg-gray-300 border-r border-black border-1">
    hi
  </div>
</body>
</html>
